{% extends 'polls/base.html' %}

{% block content %}
        {% if question %}
            <h1> {{question.question_text}} </h1>
            <form action="{% url 'polls:vote' question.id %}" method="post">
                {% csrf_token %}
                <ul>
                {% for item in question.choice_set.all %}
                    <li><input type="radio" value="{{ item.id }}"name="choice"/>{{ item.choice_text }}</li>
                {% endfor %}
                <p><input type="submit" value="Send"/><p>
            {% else %}
                <h3 style="color: red;"> Not data </h3>
                </ul>
            </form>
        {% endif %}
{% endblock %}